{% extends "base.html" %}
{% load static %}
{% block css_files %}
    <link rel="stylesheet" href="{% static "challenges/challenges.css" %}"/>
    <link rel="stylesheet" href="{% static "challenges/includes/header.css" %}"/>
{% endblock css_files %}
{% block page_title %}
    All Challenges
{% endblock page_title %}
{% block content %}
    {% include "challenges/includes/header.html" %}
    <ul>
        {% for mon in month_k %}
            <li>
                <a href="{% url "month-challenge" mon %}">{{ mon|title }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock content %}
